langchain
langchain-huggingface
langchain-mongodb 
langchain-chroma 
langchain-cli 
langchain-community 
langchain-core 
langchain-text-splitters 
jq 
pymongo
pandas
sentence-transformers
uuid
nltk
einops
huggingface_hub[hf_xet]
gradio